#main {
	width: 99%;
	height: 99%;
	background-color: white;
	border-style: solid;
	
	position: absolute;
	
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}

#nav {
	height: 96.25%;
	width: 20%;
	border-style: solid;
	float: left;

	margin-top: 1.5%;
	margin-left: 1.5%;
}

#calendar {
	height: 96.25%;
	width: 70%;
	border-style: solid;
	float: right;

	margin-top: 1.5%;
	margin-right: 1.5%;
}